@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header nav{
  background: rgba(255, 255, 255, 1);
}
header nav .nav-items{
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
 border:0px, 0px, 1px, 0px ;
  padding:24px, 128px, 24px, 128p;
  border-bottom: 1px solid var(rgba(245, 245, 246, 1))
}
.nav-items .logo{
cursor: pointer;

  /* //styleName: tutedude-typography/label/small; */
font-family: Poppins;
color: rgba(0, 0, 0, 1);
font-size: 16px;
font-weight: 500;
line-height: 24px;
text-align: left;
width: 45px;
height: 24px;
gap: 0px;
opacity: 0px;

}
nav .nav-items .loginSign{
  display: flex;
  gap: 14px;
cursor: pointer;

}
nav .nav-items .loginSign .login{
  width: 105px;
height: 48px;
font-family: Poppins;
font-weight: 500;
text-align: right;
color: rgba(153, 46, 157, 1);
padding: 12px 24px 12px 24px;
gap: 6px;

}
nav .nav-items .loginSign .sign-up{
  width: 105px;
  height: 48px;
  padding: 12px 24px 12px 24px;
  gap: 6px;
  font-family: Poppins;
  font-weight: 500;
  border-radius: 14px;
  opacity: 0px;
  background:  rgba(153, 46, 157, 1);;
  color: rgba(252, 245, 254, 1);
}

.manu .manu-items{
display: flex;
align-items: center;
justify-content: center;
top: 95px;
gap: 20px;
opacity: 0px;
background:rgba(59, 59, 62, 1);
list-style: none;
& li{
padding: 12px 10px 12px 10px;
font-family: Poppins;
font-size: 16px;
font-weight: 400;
color: rgba(207, 208, 210, 1);
}
& li:hover{
color: rgba(255, 255, 255, 1);
gap: 0px;
padding: 12px 10px 8px 10px;
cursor: pointer;
opacity: 0px;
border-bottom: 4px solid rgba(255, 165, 11, 1);
}

}
.m-auto{
  margin: 0 auto;
}
.w-max{
  width: 90vw;
}



/* home page style css */


.home-container{
margin-top: 120px;
left: 128px;
gap: 32px;
opacity: 0px;

}
.initiative{
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 1);
  border: 1px solid  rgba(255, 165, 11, 1);
  width: 355px;
height: 66px;
padding: 18px 24px 18px 24px;
gap: 10px;
border-radius: 16px ;
opacity: 0px;
}
.initiative img{
  width: 24px;
  height: 24px;
  gap: 0px;
  opacity: 0px;
}
.initiative .text-of-initiative{
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color:rgba(67, 67, 71, 1);

  & span{
font-family: Poppins;
font-size: 16px;
font-weight: 600;
line-height: 24px;
text-align: left;

  }
}

.main .main-text{
  width: 766px;
  height: 258px;
  gap: 8px;
  opacity: 0px;
  font-family: Poppins;
  font-size: 64px;
  font-weight: 700;
  line-height: 85.99px;
  letter-spacing: -0.03em;
  text-align: left;
  color:rgba(89, 89, 97, 1);
  & span{
    font-family: Poppins;
    color:rgba(153, 46, 157, 1);
font-size: 64px;
font-weight: 700;
line-height: 85.99px;
letter-spacing: -0.03em;
text-align: left;

  }
}

.main .about-main{
font-family: Poppins;
font-size: 20px;
font-weight: 400;
line-height: 30px;
text-align: left;
color:rgba(67, 67, 71, 1);

& span{
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
}
}
.main .bottom-of-main{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
gap: 14px;
padding: 50px 0;
opacity: 0px;
}

.bottom-of-main .main-bottom-box{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 244, 197, 1);
  background: rgba(255, 252, 234, 1);

  padding: 12px 16px 12px 12px;
  gap: 10px;
  border-radius:10px ;
  opacity: 0px;

  & img{
    width: 24px;
height: 24px;
gap: 0px;
opacity: 0px;

  }
  
}
.text-of-main-bottom-box{
  font-family: Poppins;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: -0.03em;
text-align: left;
color:rgba(187, 83, 2, 1);

}

.home-container-bottom{
  display: flex;
  align-items: center;
  justify-content: center;
  width:406px;
height: 75px;
gap: 12px;
opacity: 0px;

}

.enroll-now{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 219px;
  height: 75px;
  box-shadow: 0px 8px 48px -10px rgba(153, 46, 157, 0.5);
cursor: pointer;
  padding: 24px 48px 24px 48px;
  gap: 6px;
  opacity: 0px;
  border-radius: 20px;
  background: linear-gradient(180deg, #B73BBE 0%, #992E9D 93.51%);
}

.enroll-now .enroll-now-text{
font-family: Poppins;
gap: 0px;
opacity: 0px;
font-size: 18px;
font-weight: 600;
line-height: 27px;
text-align: left;
color: rgba(252, 245, 254, 1);
}

.enroll-now .enroll-now-button a img{
  display: flex;
  align-items: center;
justify-content: center;
  width: 22px;
  height: 22px;
  top: 0px;
  left: -0px;
  gap: 0px;
  opacity: 0px;
  color:rgba(252, 245, 254, 1);  
}

.know-more{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 175px;
  cursor: pointer;
height:75px;
padding: 24px 0px 24px 0px;
gap: 6px;
border-radius: 16px 0px 0px 0px;
opacity: 0px;

}

.know-more .know-more-text{
  font-family: Poppins;
font-size: 18px;
font-weight: 600;
line-height: 27px;
text-align: left;
color: rgba(153, 46, 157, 1);

}

.know-more .know-more-button img{
  width: 20px;
height: 20px;
gap: 0px;
opacity: 0px;

}

.footer-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: Fixed (1,440px)px;
height: Hug (172px)px;
margin-top: 75px;
padding: 36px 128px 36px 128px;
gap: 0px;
justify-content: space-between;
opacity: 0px;
border: 1px solid rgba(249, 235, 252, 1);
background: linear-gradient(180deg, rgba(183, 59, 190, 0.05) 0%, rgba(153, 46, 157, 0.05) 93.51%);
}

.footer-container .footer-container-item{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 260px;
height:70px;
gap: 6px;
opacity: 0px;
}
hr{
  width: 1px;
height: 100px;
gap: 0px;
opacity: 0px;
border: 1px solid rgba(249, 235, 252, 1);
background: rgb(179, 177, 179);
}

.footer-container-item img{
  width: 62px;
height: 62px;
padding: 0.68px 0px 0.68px 0px;
gap: 0px;
opacity: 0px;

}

.footer-container-item-text{
  width: 62px;
  height: 62px;
  padding: 0.68px 0px 0.68px 0px;
  gap: 0px;
  opacity: 0px;

& span{
  font-family: Poppins;
font-size: 40px;
font-weight: 500;
line-height: 40px;
text-align: left;
color:rgba(153, 46, 157, 1);
}  

& p{
  font-family: DM Sans;
font-size: 24px;
font-weight: 400;
line-height: 28px;
text-align: left;
color: rgba(104, 105, 114, 1);

}
}

/* cource page style  */

.cource-section{
  background:rgba(252, 245, 254, 1);
  margin-top: 50px;
  padding: 100px ;
}
.cource-top-section{
  width:761px;
  top: 113px;
  left: 340px;
  gap: 21px;
  opacity: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cource-top-section .text-p{
  margin-top: 100px;
  width:500px;
height: 62px;
font-size: 20px;
font-weight: 400;
line-height: 30px;
letter-spacing: -0.02em;
text-align: center;
padding: 16px 28px 16px 28px;
gap: 10px;
border: 1px solid rgba(249, 235, 252, 1);
opacity: 0px;
font-family: Poppins;
border-radius: 20px;
color:  rgba(153, 46, 157, 1);
background:  rgba(249, 235, 252, 1);


}
.cource-top-section .text-h1{
  font-family: Poppins;
font-size: 48px;
font-weight: 700;
line-height: 72px;
letter-spacing: -0.03em;
text-align: center;
color: rgba(76, 77, 82, 1);
& span{
  background: linear-gradient(90.98deg, #B73BBE 1.46%, #EBCB2E 50.17%);
-webkit-background-clip: text;
color: transparent;
}
}

.cource-bottom-section{
  margin-top: 50px;
height: 520px;
/* top: 324px; */
/* left: 128px; */
gap: 0px;
border-radius: 28px ;
opacity: 0px;
border: 1px solid rgba(229, 229, 232, 1);
}

.cource-bottom-section-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80vw;
height:130px;
padding: 28px;
gap: 12px;
opacity: 0px;
border-top: 1px solid  rgba(229, 229, 232, 1);
background: rgba(255, 255, 255, 1);
}
.left-item{
  width: 867px;
height:74px;
gap: 2px;
opacity: 0px;

}
.left-text{
font-family: Poppins;
font-size: 28px;
font-weight: 600;
line-height: 42px;
text-align: left;
color: rgba(76, 77, 82, 1);

}
.left-text-desc{
font-family: Poppins;
font-size: 20px;
font-weight: 400;
line-height: 30px;
text-align: left;
background:  rgba(131, 132, 141, 1);

}
.right-item{
  /* width: 249px; */
height:70px;
padding: 20px 24px 20px 24px;
gap: 10px;
border-radius: 20px;
border: rgba(249, 235, 252, 1);
background: rgba(252, 245, 254, 1);

opacity: 0px;

  display: flex;
  align-items: center;
}
.right-item img{
  width: 24px;
height: 24px;
padding: 2.82px 0px 2.82px 0px;
gap: 0px;
opacity: 0px;

}
.right-text{
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  color: rgba(183, 59, 190, 1);

}


/* refund page style  */
.refund-top-section{
  margin-top: 100px;
  width: 980px;
height: 144px;
gap: 0px;
opacity: 0px;
  font-family: Poppins;
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: -0.05em;
  text-align: center;
  
}
.top-section-text{
font-family: Poppins;
font-size: 48px;
font-weight: 700;
line-height: 72px;
letter-spacing: -0.05em;
text-align: center;
color:  rgba(104, 105, 114, 1);

& span{
  background: linear-gradient(180deg, #B73BBE 0%, #992E9D 93.51%);
  -webkit-background-clip: text;
  color: transparent;
}
}

.refund-middle-section{
 margin: 50px auto;
  width: 598px;
height: 199px;
padding: 32px 20px 32px 20px;
gap: 12px;
border-radius: 32px ;
opacity: 0px;
background: linear-gradient(180deg, #9849FF 0%, #841EE3 93.51%);
box-shadow: 0px 16px 36px -10px rgba(152, 73, 255, 0.25);
}
.refund-offer{
  display: flex;
  align-items: center;
  justify-content: center;
& p{
  font-family: Poppins;
  font-size: 28px;
  font-weight: 700;
  line-height: 42px;
  text-align: center;
  color:  rgba(255, 255, 255, 1);
  
}
& img{
  right: 0;
  width: 62.31px;
height: 69.01px;
gap: 0px;
opacity: 0px;
rotate: -56.12 deg;

}
}

.sheat-left{
  width: 558px;
height: 81px;
gap: 14px;
opacity: 0px;

}
.sheat-left p{
  font-family: Poppins;
font-size: 18px;
font-weight: 500;
line-height: 27px;
text-align: left;
color: rgba(255, 255, 255, 0.7);

}
.sheat-left .range input{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 558px;
height: 10px;
gap: 0px;
border-radius: 100px ;
opacity: 0px;
background: rgba(255, 255, 255, 0.15);

accent-color: rgba(255, 196, 27, 1);
box-shadow: 0px 2px 2px 0px rgba(255, 255, 255, 0.25) inset;


}

.offer-time{
  display: flex;
  align-items: center;
gap: 4px;
justify-content: center;
opacity: 0px;
margin-top: 10px;

}
.offer-time img{
  width: 28px;
height: 28px;
gap: 0px;
opacity: 0px;

}
.offer-time p{
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  
  color: rgba(255, 255, 255, 1);
  
}

.refund-bottom-section{
gap: 24px;
opacity: 0px;

}
.refund-bottom-section .title{
  padding: 10px 10px;
font-family: Poppins;
font-size: 36px;
font-weight: 700;
line-height: 54px;
letter-spacing: -0.03em;
text-align: center;
  color: rgba(69, 13, 69, 1);
}
.refund-bottom-items{
  display: flex;
  align-items: center;
  justify-content: center;
gap: 22px;
opacity: 0px;
 

}
.connect{
  display: none;
}
.refund-bottom-item{
  width: 350px;
height: 316px;
gap: 22px;
opacity: 0px;

  & img{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin-left: 60px;
    width:92px;
  height: 40px;
  padding: 8px 24px 8px 24px;
  gap: 10px;
  opacity: 0px;
  
  }
}
.refund-bottom-item .register {
  width: 350px;
height:254px;
padding: 20px;
gap: 16px;
border-radius: 20px ;
opacity: 0px;
background: linear-gradient(180deg, #FFFFFF 0%, #FCF5FE 100%);
border: 1px solid rgba(249, 235, 252, 1)
}
.register .title{
  font-family: Poppins;
font-size: 20px;
font-weight: 600;
line-height: 30px;
letter-spacing: -0.03em;
text-align: left;
color: rgba(127, 39, 129, 1);

}
.register img{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
height: 120px;
gap: 0px;
opacity: 0px;


}

.register .desc{
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
  
color:  rgba(59, 59, 62, 1);
& span{
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  text-align: left;
  

}
}
.register .enrollment{
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  width: 310px;
  height: 80px;
  padding: 16px ;
  gap: 8px;
  border-radius: 14px ;
  border: 1px solid  rgba(229, 229, 232, 1);
    opacity: 0px;
  

  & p{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: -0.03em;
color:  rgba(76, 77, 82, 1);
  }

& span{
  font-family: Poppins;
font-size: 40px;
font-weight: 700;
line-height: 60px;
letter-spacing: -0.03em;
text-align: left;
background: linear-gradient(180deg, #FFA50B 0%, #E27900 93.51%);
-webkit-background-clip: text;
color: transparent;
}
}
.enrollment .desc{
  margin-top: 20px;
  font-family: Poppins;
font-size: 14px;
font-weight: 500;
line-height: 21px;
text-align: left;
color:  rgba(76, 77, 82, 1);

& .span-one{
  font-family: Poppins;
font-size: 14px;
font-weight: 500;
line-height: 21px;
text-align: left;

}
& .sapn-two{
  font-family: Poppins;
font-size: 14px;
font-weight: 600;
line-height: 21px;
text-align: left;

}
}


/* top company section style  */
 .top-company-section{
margin-top: 60px;
padding: 48px ;
background:  rgba(255, 252, 234, 1);
gap: 28px;
opacity: 0px;
 }

 .section-title{
  padding: 30px auto;
 }
 .section-title p{
  font-family: Poppins;
font-size: 48px;
font-weight: 700;
line-height: 72px;
letter-spacing: -0.03em;
text-align: center;
color: rgba(55, 73, 87, 1);
 }
  .section-title span{
  font-family: Poppins;
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: -0.03em;
  text-align: center;
  background: linear-gradient(92.04deg, #B73BBE 49.96%, #EBCB2E 99.23%);
  -webkit-background-clip: text;
  color: transparent;
  }
 .top-company-list{
  display: flex;
  align-items: center;
  justify-content: center;
 }
 .top-company-logo img{
  width: 257px;
  height: 133px;
  padding: 10px ;
  gap: 10px;
  border-radius: 24px  ;
  opacity: 0px;
  
 }

 /* internship page style  */
 .inertnship-section{
padding: 96px 128px 96px 128px;
gap: 64px;
opacity: 0px;
background: rgba(255, 255, 255, 1);

 }
 .intern-title{
  font-family: Poppins;
  font-size: 48px;
  font-weight: 600;
  line-height: 72px;
  text-align: center;
  
  & span{
    color:  rgba(153, 46, 157, 1);

  }
 }

 .intern-contaner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  margin-top: 40px;
 }
 .left-contaner{
 
padding: 36px ;
gap: 0px;
border-radius: 32px ;
justify-content: space-between;
opacity: 0px;
background:  rgba(252, 245, 254, 1);
border: 1px solid  rgba(249, 235, 252, 1);

 }
 .left-title{
font-family: Poppins;
font-size: 28px;
font-weight: 600;
line-height: 42px;
text-align: center;
color:  rgba(69, 13, 69, 1);


 }
 .certificate{
  display: flex;
 
  width: 35vw;
height: 321.37px;
gap: 0px;
border-radius: 10.95px ;
opacity: 0px;
background: rgba(255, 255, 255, 1);
border: 0.73px solid rgba(233, 211, 233, 1);
box-shadow: 0px 0px 250px -100px rgba(255, 165, 11, 0.25);

 }

 .left-certificate{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 146.69px;
  height: 321.37px;
  left: -0px;
  gap: 0px;
  opacity: 0px;
  background: linear-gradient(202.82deg, #A355A3 0%, #912191 100%);
  
 }
 .certi-title{
  padding: 20px 20px;
  font-family: Poppins;
font-size: 5.18px;
font-weight: 400;
line-height: 7.78px;
text-align: left;

 }

 .certi-title p{

  font-family: Poppins;
font-size: 5.18px;
font-weight: 400;
line-height: 7.78px;
text-align: left;

 }
 .certi-title p span{
  font-family: Poppins;
font-size: 5.18px;
font-weight: 600;
line-height: 7.78px;
text-align: left;

 }
 .certi-name{
  font-family: Poppins;
font-size: 6.22px;
padding: 0px 20px;
font-weight: 400;
line-height: 9.33px;
letter-spacing: 0.06em;
text-align: left;
color: rgba(244, 233, 244, 1);


 }

 .left-certi-main p{
  font-family: Poppins;
font-size: 16.59px;
font-weight: 600;
line-height: 24.88px;
text-align: left;
color: rgba(244, 233, 244, 1);

 }

 .left-certi-bottom{
  font-family: Poppins;
font-size: 6.22px;
padding: 20px;
font-weight: 500;
line-height: 9.33px;
text-align: left;
color: rgba(255, 255, 255, 1);

 }
 .right-certificate{
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
 }
 .right-certi-top{

  display: flex;
  align-items: center;
justify-content: space-around;
gap: 10vw;
padding: 20px 20px;
 }
 .right-certi-top img{
  width: 59.61px;
height: 18.66px;
top: -0px;
left: 149.8px;
gap: 0px;
opacity: 0px;

 }
 .right-certi-top p{
  font-family: Poppins;
font-size: 3.18px;
font-weight: 500;
line-height: 7.78px;
text-align: left;
color: rgba(105, 119, 129, 1);

& span{
  font-family: Poppins;
font-size: 5.18px;
font-weight: 400;
line-height: 7.78px;
text-align: left;

}
 }
 .right-certi-mid{
  margin: 0 auto;
padding: 20px 20px;
 }
.right-certi-mid p{
  font-family: Poppins;
font-size: 6.22px;
font-weight: 400;
line-height: 9.33px;
letter-spacing: 0.06em;
text-align: left;
color: rgba(155, 164, 171, 1);

}
.right-certi-mid .name{
  font-family: Poppins;
font-size: 20.73px;
font-weight: 600;
line-height: 31.1px;
text-align: left;
color: rgba(55, 73, 87, 1);

}
.signature{
  display: flex;
  align-items: center;
  gap: 10vw;

}
.signature-name{
padding: 20px 20px;
}
.signature-name img{
  width: 35px;
  height: 12px;
  top: 254.5px;
  left: 172.87px;
  gap: 0px;
  opacity: 0px;
  
}
.signature-name .name{
  font-family: Poppins;
font-size: 6.22px;
font-weight: 500;
line-height: 9.33px;
text-align: left;
color: rgba(55, 73, 87, 1);

}
.signature-name p{
  font-family: Poppins;
font-size: 4.15px;
font-weight: 400;
line-height: 6.22px;
text-align: left;
color: rgba(155, 164, 171, 1);

}

.left-container-bottom{
  
  margin-top: 20px;
display: flex;
align-items: center;
justify-content: space-between;
}
.official{
  display: flex;
  align-items: center;

width: 207px;
height: 48px;
padding: 12px 16px 12px 12px;
gap: 6px;
border-radius: 100px ;
border: 1px solid  rgba(244, 214, 248, 1);
opacity: 0px;
background:  rgba(249, 235, 252, 1);

}
.left-container-bottom img{
  width: 22.6px;
height: 22.6px;
top: 12.7px;
left: 12.7px;
gap: 0px;
opacity: 0px;
color:  rgba(153, 46, 157, 1);

}
.text p{

  font-family: Poppins;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: -0.03em;
text-align: left;
color:  rgba(153, 46, 157, 1);

}
 .right-contaner{
  width: 50%;
  padding: 28px ;
  gap: 20px;
  border-radius: 24px ;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  background: rgba(255, 252, 234, 1);
  border: 1px solid  rgba(255, 244, 197, 1);


 }
 .right-container-top .title{
  font-family: Poppins;
  font-size: 28px;
  font-weight: 600;
  line-height: 42px;
  text-align: left;
  color:  rgba(72, 25, 0, 1);

 }
 .right-container-top p{
font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
color: rgba(104, 105, 114, 1);

 }
 .right-container-bottom img{
  width: 417px;
height: 320px;
gap: 0px;
opacity: 0px;

 }



 .card{
display: flex;
align-items: center;
justify-content: center;
padding: 48px ;
gap: 10px;
border-radius: 48px ;
opacity: 0px;
background: linear-gradient(rgb(189, 129, 198),rgb(179, 161, 237));
box-shadow: 0px 20px 250px -20px rgba(165, 104, 244, 0.15);


 }
 .card-top .title{
  font-family: Poppins;
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: -0.03em;
  text-align: left;
  color: rgba(27, 27, 29, 1);


  & span{
    font-family: Poppins;
font-size: 32px;
font-weight: 500;
line-height: 48px;
letter-spacing: -0.03em;
text-align: left;
color:  rgba(104, 105, 114, 1);
text-decoration: line-through;


  }
 }
 .card-top p{
  font-family: Poppins;
font-size: 20px;
font-weight: 400;
line-height: 30px;
letter-spacing: -0.03em;
text-align: left;
color:  rgba(27, 27, 29, 1);

 }
 .card-bottom button{
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 238px; */
height: 84px;
padding: 24px 48px 24px 40px;
gap: 10px;
border-radius: 20px ;
opacity: 0px;
background:  rgba(27, 27, 29, 1);

& img{
  width: 24px;
height: 24px;
gap: 0px;
opacity: 0px;

}
& p{
  font-family: Poppins;
font-size: 24px;
font-weight: 600;
line-height: 36px;
letter-spacing: -0.05em;
text-align: center;
color: rgba(255, 255, 255, 1);

}
 }

 .card-right{
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 539px;
height: 324px;
gap: 0px;
justify-content: space-between;
opacity: 0px;

 }
 .card-right p{
  font-family: Poppins;
font-size: 20px;
font-weight: 400;
line-height: 30px;
letter-spacing: -0.03em;
text-align: left;
color:  rgba(27, 27, 29, 1);

 }
 .card-right .num{
  font-family: Poppins;
font-size: 22px;
font-weight: 600;
line-height: 33px;
letter-spacing: -0.03em;
text-align: left;
color:  rgba(27, 27, 29, 1);

 }

 
